<div class="jumbotron">
	<h2>About Us</h2>
	<p>We sell furniture.</p>
	<p>Currently, we are working very hard with our furniture suppliers in their factory to get our first range of products out.</p> 
	<p>Just click on [Contact Us] to stay in touch!</p>
	<p>You sure will find something for yourself in the future. We are the expert in our own line.</p>
</div>