<div class="jumbotron text-center">
  <h1>Something cool is coming to town!!</h1>
  
  <h3>Stay in touch to be one of our first VIP tester of our awesome furnitures.</h3>
  <h3>Click on [Contact Us] above!</h3>
</div>