<div class="jumbotron text-center">
  <h1>Something cool is coming into the town!!</h1>
  
  <h3>Stay in touch to be one of our first VIP tester to feel our coolness.</h3>
  <h3>Leave us your name and email address down below!</h3>
</div>