<!DOCTYPE html>
<html>
	<head>

	</head>
	<body>
	<p>You have received a message from Vetta Home's site.</p>
	<p><%= Name: "#{@name}" %></p>
	<p><%= Email: "#{@email}" %></p>
	<p><%= Comments: "#{@body}" %></p>
	</body>
</html>